<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Estudante</title>
</head>
<body>
    <form method="post" action="/cadastroEstudante">
        
        <label>Nome</label>
        <input type="text" name="nomeEstudante">
        <p></p>

        <label>Sobrenome</label>
        <input type="text" name="sobrenome">
        <p></p>

        <label>cpf</label>
        <input type="text" name="cpf">
        <p></p>

        <li th:each="professor : ${professores}">
            <input type="checkbox" name="professores" th:value="${professores.id}" />
            <label th:text="${item.nomeProfessor}"></label>
        </li>

        <li th:each="aula : ${aulas}">
            <input type="checkbox" name="aulas" th:value="${aulas.id}" />
            <label th:text="${item.titulo}"></label>
        </li>

        <button type="submit">Salvar</button>
    </form>
    
</body>
</html>